

.input-search {
    color: #000;
    background-color: #fff;
    vertical-align: middle;
    font-size: 14px;
    text-indent: 10px;
    margin-right: -5px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px 0px 0px 4px;
}

.search {
    padding: 0px;
    margin-bottom: 0;
    font-size: 14px;
    background: #00804d;
    padding: 4px 10px 6px;
    border: none;
    color: #fff;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#D73932),to(#D73932));
    background: -webkit-linear-gradient(top,#D73932,#D73932);
    border: 1px solid #D73932;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    right: 10px;
}


.footer-formm {
    margin-top: 16px;
    margin-bottom: 10px !important;
}


#cart-target {
    float: right;
}


.hotline {
    float: right;
}


.img-responsivee {
    width: 100%;
    height: 270px;
    padding: 0 5px;
}

h4.news {
    text-transform: uppercase;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


#cart-target a span {
    font-size: 12px;
    color: #ccc;
}


img.product-details {
    max-width: 100%;
    height: 130px;
}


td.img-cart {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*/menu moblie*/
#cssmenuu {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}


    #cssmenuu ul,
    #cssmenuu ul li,
    #cssmenuu ul ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }


    #cssmenuu ul {
        /* position: relative; */
        /* z-index: 597; */
        /* float: left; */
    }


        #cssmenuu ul li {
            /*float: left;*/
            min-height: 1px;
            line-height: 0.9;
            vertical-align: middle;
            /*position: relative;*/
        }


            #cssmenuu ul li.hover,
            #cssmenuu ul li:hover {
                /*position: relative;
                z-index: 599;
               cursor: default;*/
            }


        #cssmenuu ul ul {
            display: none;
            position: absolute;
            /* top: 100%; */
            /* left: 0px; */
            z-index: 598;
            width: 100%;
        }


            #cssmenuu ul ul li {
                float: none;
            }


            #cssmenuu ul ul ul {
                top: -2px;
                right: 0;
            }


        #cssmenuu ul li:hover > ul {
            /* visibility: visible; */
            display: block;
        }


        #cssmenuu ul ul {
            /* top: -1px !#cssmenuu > ul > li > a:hover

        #cssmenuu ul ul {
           /*margin-top: 1px;*/
        }


            #cssmenuu ul ul li {
                font-weight: normal;
            }


ul.item-menuleft {
    z-index: 9999 !important;
}

/*.active-home{
                background:red;
                color:white;
            }*/
/* Custom CSS Styles */
#cssmenuu {
    width: 100%;
    background: #00804d;
    font-family: 'Muli',sans-serif;
    font-weight: 600;
    zoom: 1;
    font-size: 12px;
    position: relative;
    box-shadow: 2px 5px 10px 0 rgba(0,0,0,.3);
}


    #cssmenuu:before {
        content: '';
        display: block;
    }


    #cssmenuu:after {
        content: '';
        display: table;
        clear: both;
    }


    #cssmenuu a {
        display: block;
        padding: 14px 20px;
        color: black;
        text-decoration: none;
        text-transform: unset;
    }


    #cssmenuu > ul {
        width: 100%;
    }


    #cssmenuu ul ul {
        width: 200px;
    }


    #cssmenuu > ul > li > a {
        /*border-right: 1px solid #c2bfbf;*/
        color: black;
        padding: 14px 20px;
        /*border-bottom: 1px solid #dddede;*/
    }


        #cssmenuu > ul > li > a:hover {
            background-color: #00804d;
            color: #fff;
            /*color: #D73932;*/
        }


    #cssmenuu > ul > li.active a {
        background: #f4f4f4;
    }


    /*#cssmenuu > ul > li a:hover,
    #cssmenuu > ul > li:hover a {
        background: #c2bfbf;
    }*/
    #cssmenuu li {
        /*position: relative;*/
    }


    #cssmenuu ul li.has-sub > a:after {
        /*content: '+';*/
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -6px;
    }


    #cssmenuu ul ul li.first {
        -webkit-border-radius: 0 3px 0 0;
        -moz-border-radius: 0 3px 0 0;
        border-radius: 0 3px 0 0;
    }


    #cssmenuu ul ul li.last {
        -webkit-border-radius: 0 0 3px 0;
        -moz-border-radius: 0 0 3px 0;
        -border-radius: 0 0 3px 0;
        border-bottom: 0;
    }


    #cssmenuu ul ul {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }


        #cssmenuu ul ul a {
            font-size: 12px;
            color: black;
        }


            #cssmenuu ul ul a:hover {
                color: #ffffff;
            }


        #cssmenuu ul ul li {
            /*border-bottom: 1px solid #c2bfbf;*/
        }


            #cssmenuu ul ul li:hover > a {
                /*background: #d2e4f1;*/
                color: #fff;
                background-color: #00804d;
                /*border-right: 1px solid #c2bfbf;*/
            }


.row-section.top-menu {
    width: 100%;
    background: #00804d;
}


#cssmenuu.align-right > ul > li > a {
    /*border-left: 4px solid #c2bfbf;*/
    border-right: none;
}


#cssmenuu.align-right {
    float: right;
}


    #cssmenuu.align-right li {
        text-align: right;
    }


    #cssmenuu.align-right ul li.has-sub > a:before {
        content: '+';
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -6px;
    }


    #cssmenuu.align-right ul li.has-sub > a:after {
        content: none;
    }


    #cssmenuu.align-right ul ul {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 598;
        width: 100%;
    }


        #cssmenuu.align-right ul ul li.first {
            -webkit-border-radius: 3px 0 0 0;
            -moz-border-radius: 3px 0 0 0;
            border-radius: 3px 0 0 0;
        }


        #cssmenuu.align-right ul ul li.last {
            -webkit-border-radius: 0 0 0 3px;
            -moz-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
        }


    #cssmenuu.align-right ul ul {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }


.top-image img {
    width: 100%;
    height: 376px;
}


.caretst {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


.dropdown-fate button {
    border: none;
    background: 0 0;
    padding: 10px 10px;
    font-weight: bold;
}


.dropdown-fate .form-check {
    margin-left: 15px;
    line-height: 25px;
}


#cssmenuu .submenu-child {
    position: absolute;
    top: 41px;
    left: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 5px 10px 0 rgba(0,0,0,.3);
    z-index: 100;
    width: 100%;
}


#cssmenuu ul li.active-head {
    background-color: #00804d;
    font-size: 14px;
}


    #cssmenuu ul li.active-head span {
        color: #fff;
        font-family: 'Muli',sans-serif;
        font-weight: 900;
    }


#cssmenuu ul li.has-sub {
    background-color: #fff;
}


#cssmenuu > ul > li > a i {
    float: right;
}

/*menu*/
.header {
    width:100%;
    height: 50px;
    background: #00804d;
    padding: 0 20px;
    color: #fff;
    /*display: flex;
   justify-content: flex-end;*/
    margin-bottom: 15px;
}


.menu {
    float: right;
    line-height: 50px;
}


    .menu a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 17px 25px;
        transition: 0.4s;
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
    }



.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.show-menu-btn {
    /* float: right; */
}

.menu li:hover {
    background: #00995c;
}

.show-menu-btn i {
    line-height: 50px;
}


.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #fff;
}


#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


#cssmenuu span {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}


#product-buy {
    width: 35%;
    border-radius: 5px;
}


    #product-buy:hover {
        background: #3498db;
        color: #fff;
        border: 1px solid #3498db;
    }


.modal-footer {
    text-align: center;
}


.news-more {
    padding: 0 15px;
}


.menu li {
    display: inline-block;
    position: relative;
}


.fa fa-long-arrow-right {
    margin-left: 5px !important;
}


.select-wrapper input.tc.item-quantity {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.3);
    font-weight: 600;
    width: 118px;
}


.col-sm-12.text-justify p {
    cursor: pointer;
}


.MagicZoom > img, .mz-figure > img {
    width: 100%;
    height: 520px;
}


a.hifiveplus {
    color: red;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
}


.owl-prev {
    left: auto;
    right: 60px;
    top: -70px;
    margin: 0;
    font-size: 0;
}


.owl-next {
    top: -70px;
    margin: 0;
    right: 16px;
    font-size: 0;
}


.owl-carousel .owl-prev:before {
    content: "\f104";
}


.owl-carousel .owl-next:before {
    content: "\f105";
}


.owl-carousel .owl-prev:before {
    font-family: "FontAwesome";
    text-indent: 0;
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    background: transparent;
}


.owl-carousel .owl-next:before {
    font-family: "FontAwesome";
    text-indent: 0;
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    background: transparent;
    background: transparent;
}


.owl-carousel .owl-prev, .owl-next {
    top: -4%;
    position: absolute;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-top: -23px;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    outline: none;
    text-indent: 0;
    border-radius: 0;
    white-space: nowrap;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #e0dfdf;
    color: #191918;
}


    .owl-carousel .owl-prev:hover, .owl-next:hover {
        background: #00804d;
        color: #fff;
    }


#owl-demoo .item {
    margin-left: 5px;
    margin-right: 5px;
}


#owl-demo .item .pro-loop {
    margin-left: 5px;
    margin-right: 5px;
}


.active-head img {
    max-width: 100%;
    height: 40px;
    padding: 0 11px;
}
/*menutop*/
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0px 75px;
    animation: 1s mymove ease;
}

/*buttonphone*/
.btn-phone {
    width: 50px;
    height: 25px;
    position: fixed;
    z-index: 1000;
    top: 60%;
    left: 95%;
    background-color: red;
    border: red;
    border-radius: 50% !important;
}


.fas.fa-phone {
    font-size: 25px;
    line-height: 25px;
}



@keyframes mymove {
    from {
        top: -57px;
    }


    to {
        top: 0px;
    }
}




@media screen and (min-width:768px) {
    - .modal-dialog {
        /*margin-top: 50%;*/
        width: 100%;
    }


    .modal-content {
        width: 50% !important;
    }
}


@media screen and (max-width:812px) {
    .modal-content {
        width: 80%;
        margin: 0 auto !important;
    }


    .modal-dialog {
        margin-top: 8% !important;
        width: 100%;
        margin: 0 auto;
    }


    .header {
        width: 100%;
    }


    .show-menu-btn {
        /* float:right; */
        position: absolute;
        left: 85%;
        /*z-index: 1000;*/
    }

    .logo img {
        /* position:relative; */
        transform: translate(10px, 19px);
    }
}


@media screen and (min-width:1024px) {
    .modal-content {
        width: 50%;
    }
}


@media screen and (min-width: 1366px) {
    .modal-dialog {
        margin-top: 91px;
        margin: 0 auto;
    }

    .modal-content {
        width: 60% !important;
        margin-top: 45px;
    }
}


@media screen and (max-width:800px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
        text-align: center;
    }


    .menu li {
        width: 100%;
        display: block;
    }


    .menu {
        position: fixed;
        width: 40%;
        height: 100vh;
        background: #00804d;
        right: -100%;
        top: 0;
        text-align: left;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 100;
        /*background-image:url('/images/21.png')*/
    }


        .menu a {
            display: block;
            padding: 17.5px;
            /* border-bottom: 1px solid #fff; */
        }


    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }


    #chk:checked ~ .menu {
        right: 0;
    }

    .dropdown-menu {
        display: none !important;
    }

    .menu .fa.fa-angle-down {
        transform: rotate(-90deg);
    }
}


@media screen and (max-width:568px) {
    .modal-footer #product-buy {
        width: 70%;
    }
}




/*menu drop*/
.nav-item {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}


    .nav-item.has-mega {
        position: static;
    }


    .nav-item > a {
        padding: 5px 23px 3px;
        line-height: 35px;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
    }


        .nav-item > a:hover {
            color: #fff;
        }


        .nav-item > a.fa {
            display: inline-block;
            transform: translateY(-1px);
            margin-left: 2px;
        }


    .nav-item > .fa {
        color: #fff;
        position: absolute;
        right: 0;
        top: 33px;
    }


    .nav-item .nav-item-lv2 {
        padding: 0 10px;
    }


    .nav-item .nav-item-lv3 {
        padding: 0 10px;
    }


    .nav-item:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
        padding: 0px 0;
        min-width: 210px;
    }


        .nav-item:hover > .dropdown-menu li {
            /*padding: 4px 15px;*/
            width: 100%;
        }


            .nav-item:hover > .dropdown-menu li a {
                line-height: 16px;
            }


                .nav-item:hover > .dropdown-menu li a i {
                    float: right;
                }


                .nav-item:hover > .dropdown-menu li a:hover {
                    color: #fff;
                }


.dropdown-menu {
    background: #fff !important;
}


.nav-item:hover > .mega-content {
    display: block;
    text-align: left;
}


    .nav-item:hover > .mega-content .h4 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }


    .nav-item:hover > .mega-content li.level2 {
        line-height: 16px;
        padding: 4px 0;
    }


.nav-item li.dropdown-submenu {
    position: relative;
}


    .nav-item li.dropdown-submenu .dropdown-menu {
        left: 100%;
        top: 0;
    }


    .nav-item li.dropdown-submenu:hover > .dropdown-menu {
        display: block;
        border-radius: 0;
        min-width: 220px;
    }


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #00804d;
}

/*fix*/
.product-block .product-detail {
    margin: 0px;
    width: 100%;
    padding: 5px 10px 0px;
    font-size: 15px;
    min-height: 52px;
    margin-bottom: 15px;
}


.product-img a img {
    transition: all 300ms linear 0ms;
    min-height: 176px;
    height: 345px;
}


.product-block {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0 9px 10px;
    height: 470px;
}


    .product-block .product-img {
        text-align: center;
        height: 347px;
    }


.owl-carousel img {
    width: 100%;
    height: 467px;
}

#txt_SoLuong {
    text-indent: 16px;
    border: 1px solid #ccc;
    max-width: 100%;
    padding: 4px 5px;
    width: 60px;
    height: 42px;
    font-size: 14px;
    /* border-left: none; */
    /* border-right: none; */
    margin: 0px -4px;
    line-height: 32px;
}

.detail-product {
    /*margin-left: 67px;*/
}

.item {
    display: block;
    float: left;
    padding: 7px 0;
    width: 95%;
}

.fa-ellipsis-h:before {
    content: "\f0c9" !important;
}
/*fix input*/
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: 0;
    display: block;
}

.checkbox label, .radio label {
    position: relative;
    top: 2px;
    padding-left: 25px;
}

.checkbox.check-color {
    display: flex;
}

.form-check {
    display: flex;
    padding: 5px 0;
}

    .form-check label {
        margin-left: 10px;
    }
/*search*/
.search-left {
    margin-top: 30px;
}
/*menu sanpham mobile1*/
.overlay2 {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 250;
    top: 0;
    /*left: 0;*/
    right: 0;
    background-color: #00804d;
    /*background-color: rgba(0,0,0, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay1 {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    /*left: 0;*/
    right: 0;
    background-color: #00804d;
    /*background-color: rgba(0,0,0, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 150;
    top: 0;
    /*left: 0;*/
    right: 0;
    background-color: #00804d;
    /*background-color: rgba(0,0,0, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content2,
.overlay-content1,
.overlay-content {
    position: relative;
    top: 6%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay2 li:hover,
.overlay1 li:hover,
.overlay li:hover {
    background: #00995c;
}

.overlay2 a,
.overlay1 a,
.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto',sans-serif;
}

    .overlay2 a:hover, .overlay2 a:focus,
    .overlay1 a:hover, .overlay1 a:focus,
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay2 .closebtn,
.overlay1 .closebtn,
.overlay .closebtn {
    position: absolute;
    top: 33px;
    right: 23px;
    font-size: 48px;
}

@media screen and (max-height: 450px) {
    .overlay2 a,
    .overlay1 a,
    .overlay a {
        font-size: 18px;
    }

    .overlay2 .closebtn,
    .overlay1 .closebtn,
    .overlay .closebtn {
        font-size: 50px;
        top: 33px;
        right: 8px;
    }
}



.fa-angle-right {
    float: right;
}
/* Code By Webdevtrick ( https://webdevtrick.com ) */
input {
    box-shadow: 0;
    outline: 0;
}

.price-slider {
    width: 250px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
}

    .price-slider svg,
    .price-slider input[type=range] {
        position: absolute;
        left: 0;
        bottom: 0;
    }

input[type=number] {
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1.6em;
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]:invalid,
    input[type=number]:out-of-range {
        border: 2px solid #e60023;
    }

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

    input[type=range]:focus {
        outline: none;
    }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #1da1f2;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #1da1f2;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #1da1f2;
        }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animation: 0.2s;
        background: #1da1f2;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #1da1f2;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animation: 0.2s;
        background: #1da1f2;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-moz-range-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #1da1f2;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animation: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower,
    input[type=range]::-ms-fill-upper {
        background: #1da1f2;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #1da1f2;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

input[type="radio"], input[type="checkbox"] {
    display: block !important;
}


.search-color h4,
.range-price h4 {
    font-size: 20px;
}
