/*Sidebar menu*/

@font-face {
    font-family: 'Roboto';
    src: url('http://hstatic.net/453/1000055453/1000083452/RobotoCondensed-Regular.ttf?v=1312'), url('http://hstatic.net/453/1000055453/1000083452/RobotoCondensed-Regular.eot?v=1312');
}


.list-group {
    clear: both;
    background: #fff;
    position: relative;
    margin: 0px 0px 30px 0px
}

.panel-body {
    padding: 10px 0px;
}

.list-group .list-group-item.active {
    font-size: 22px;
    background-color: #fff;
    border: none;
    font-family: "Roboto", Arial, sans-serif;
    letter-spacing: -1px;
    outline-offset: -5px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px
}

.nav.sidebar#cssmenu > li.item.last > a {
    border-bottom: none;
}

.nav.sidebar#cssmenu ul li a {
    padding: 20px;
}

.sidebar#cssmenu li a {
    color: #777;
    display: block;
}

.sidebar#cssmenu .children > li {
    padding: 0px !important;
}


span.sign {
    right: 0;
    position: absolute;
    padding-right: 10px;
}

-------------------------------
.nav.sidebar #cssmenu ul li a:hover {
    text-decoration: none;
}

.nav.sidebar#cssmenu > li > a:hover, .nav.sidebar#cssmenu > li.item ul li a:hover {
    color: #f35818
}

.nav .sidebar #cssmenu > ul > li.active {
    border-bottom: 1px dotted #cacaca;
    background: #f9f9f9;
}

.nav.sidebar#cssmenu > li.item > a,
.nav.sidebar#cssmenu > li.item a {
    color: #3c3c3c;
    font-size: 14px;
    padding: 2px 0px;
    background-color: #fff;
}

.nav.sidebar#cssmenu > li.item.active > a,
.nav.sidebar#cssmenu > li.item:hover > a,
.nav.sidebar#cssmenu > li.item:focus a,
.nav.sidebar#cssmenu > li.item ul li:hover {
    color: #00804d;
}


.nav .sidebar #cssmenu > ul > li.has-sub > a span {
    font-weight: normal;
}

.list-group #cssmenu > .has-sub > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav .sidebar #cssmenu > ul > li.has-sub > a span:after {
    float: right;
    content: "\f107";
    font-size: 18px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-left: 30px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.nav .sidebar #cssmenu > ul > li.has-sub > ul > li > a:before {
    content: "\f105";
    font-size: 18px;
    display: inline-block;
    font-family: FontAwesome;
    font-weight: normal;
    left: 0px;
    top: 0px;
}

.nav .sidebar #cssmenu > ul > li.has-sub > ul > li > a span {
    padding: 0px 0px 0px 5px;
}


/* Sub menu */
.nav .sidebar #cssmenu ul ul {
    display: none;
}

/*************************/

.mini-submenu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
}

    .mini-submenu:hover {
        cursor: pointer;
    }

    .mini-submenu .icon-bar {
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
        margin-top: 3px;
    }

    .mini-submenu .icon-bar {
        background-color: #000;
    }

#slide-submenu {
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}
/*end Sidebar menu*/

/*Sidebar support*/

.sidebar-support.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-bottom: 1px;
    background: #820000;
}

.sidebar-support .list-group-item.active,
.sidebar-support .list-group-item.active:hover,
.sidebar-support .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #820000;
    border-color: #820000;
}

.sidebar-support .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    /*background-color: #fff;
	border: 1px solid #ddd;*/
}

    .sidebar-support .list-group-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

.sidebar-support .article {
    margin: 20px;
}

.support {
    display: table;
}

    .support p {
        margin-bottom: 10px;
        float: left;
        text-align: left;
        color: #00804d;
        padding-top: 8px;
    }

    .support .phone {
        font-size: 16px;
        color: #1266d2;
    }

    .support a {
        width: 20%;
        height: 44px;
        display: inline-block;
        line-height: 40px;
    }

.skype {
    margin-right: 3px;
}

.support h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.list-group .list-group-item img {
    margin: 20px auto 5px;
}

.support .text-center {
    text-align: center;
    clear: both;
    display: table;
    width: 100%;
}

.support .supp-name {
    float: left;
    text-align: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%
}

.support .text-center:last-of-type {
    border: none;
}

.list-group h3 {
    font-size: 18px;
    border-bottom: 1px solid #1266d2;
    color: #1266d2;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: normal;
}
/*End support*/


.sidebar-counter {
    padding: 10px 0;
    background: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.counter-title {
    font-size: 18px;
    text-align: center;
    background: #53A1CC;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 12px 0px;
    color: #fff;
}

.list-group_l.banner-left {
    margin-bottom: 35px;
}




/**************thÃªm***************/

.sidebar li {
    float: left;
    width: 100%;
    padding: 0px
}

.sidebar .collapse.in {
    border-bottom: 1px solid #e2e2e2;
    background: #f5f5f5;
}

.nav.sidebar#cssmenu .collapse.in li {
    background: #f5f5f5;
}

.nav.sidebar > li {
    /* position:inherit */
}

.sign::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


.nav.sidebar#cssmenu > li > ul.children > li > a, .nav.sidebar#cssmenu > li > ul.children > li > ul > li > a {
    padding: 5px
}




.nav.sidebar#cssmenu > li.item > ul.children li a.child-item {
    /*text-transform: lowercase;*/
    font-size: 14px;
    color: #000;
    padding-left: 14px;
    background: #fff
}

    .nav.sidebar#cssmenu > li.item > ul.children li a.child-item.grand-item {
        text-transform: none;
        font-weight: 300;
        color: #f35818;
        padding-left: 20px
    }

        .nav.sidebar#cssmenu > li.item > ul.children li a.child-item:hover, .nav.sidebar#cssmenu > li.item > ul.children li a.child-item.grand-item:hover, .nav.sidebar#cssmenu > li.item > ul.children li.active a {
            color: #1266d2;
        }

.sidebar li ul.children li ul.grandchildren li {
    width: 100%
}

.lineccc {
    border-bottom: 1px solid #ccc;
    margin: 18px 0px
}
