@model IEnumerable<ShoseShopDB.Entities.tbSlide>
@{
    int i = 0, count = 0;
    string active = "active";
}
<div class="col-md-9">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var item in Model)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                i++;
            }
        </ol>

        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                <div class="carousel-item @if (count == 0) { @active; } ">
                    <img class="d-block w-100" style="height:468px" src="@item.slide_image">
                </div>
                count++;
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
